<link rel="stylesheet" href='../../Content/datatables.css' type="text/css" />
@model FinanceManager.ViewModels.Transactions.TransactionsViewViewModel
@{
    ViewBag.Title = "TransactionsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transactions</h2>
@foreach (var item in Model.TransactionGroupViewModels)
{
    <div class="row">
        <div class="container col-sm-12">

            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="font-weight-bold">@Html.DisplayFor(periodName => Model.GroupType): </span> @Html.DisplayFor(groupName => item.GroupName)
                        </div>
                        <div class="col-sm-6 text-right">
                            <span class="font-weight-bold">Total:</span> @Html.DisplayFor(periodTotal => item.Total)
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @foreach (var transaction in item.Transactions)
                    {
                        <div class="row">
                            <div class="col-sm-2 text-right">
                                @Html.DisplayFor(date => transaction.TransactionDate)
                            </div>
                            <div class="col-sm-2">
                                @Html.DisplayFor(transactionAccount => transaction.Account.Name)
                            </div>
                            <div class="col-sm-2">
                                @Html.DisplayFor(transactionCategory => transaction.Category.Name)
                            </div>
                            <div class="col-sm-4 ">
                                @Html.DisplayFor(description => transaction.Description)
                            </div>
                            <div class="col-sm-2 text-right">
                                @Html.DisplayFor(amount => transaction.Amount)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}


