@model FinanceManager.ViewModels.Transactions.TransactionsViewViewModel
@{
    ViewBag.Title = "TransactionsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transactions</h2>
<br />

<div class="container col-12">
    <div class="row">
        <div class="col-2 col-lg-1">
            <a href='@Url.Action("Create", "Transactions")'>Create</a>
        </div>

        <div class="col-6 col-lg-3">
            @using (Html.BeginForm("Index", "Transactions", FormMethod.Get))
            {
                <div class="row">
                    @Html.Label("Group:", htmlAttributes: new { @class = "control-label col-lg-4 col-4" })
                    @Html.DropDownList("groupType", Model.GroupingItems, new { onchange = "form.submit();", style = "height:25px" })
                </div>
            }
        </div>
    </div>
</div>

@foreach (var item in Model.TransactionGroupViewModels)
{
    var itemId = "T" + item.GroupName.Replace(" ", "").Replace("/", "");
    <div class="row pb-2">
        <div class="container col-12">

            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#@itemId" 
                   href="#@itemId">
                    <div class="row">
                        <div class="col-7">
                            <span class="font-weight-bold">@Html.DisplayFor(periodName => Model.GroupType): </span> @Html.DisplayFor(groupName => item.GroupName)
                        </div>
                        <div class="col-5 text-right">
                            <span class="font-weight-bold">Total:</span> @Html.DisplayFor(periodTotal => item.Total)
                        </div>
                    </div>
                </div>
                <div id="@itemId" class="card-body panel-collapse collapse in">
                    @foreach (var transaction in item.Transactions)
                    {
                        <div class="row" style="border-top: 1px solid lightgray">
                            <div class="col-lg-1 col-2 d-none d-sm-table-cell">
                                @Html.DisplayFor(transactionAccount => transaction.Account.Name)
                            </div>
                            <div class="col-lg-2 col-4">
                                @Html.DisplayFor(date => transaction.TransactionDate)
                            </div>


                            <div class="col-lg-2 col-5">
                                @Html.DisplayFor(transactionCategory => transaction.Category.Name)
                            </div>
                            <div class="col-lg-5 d-none d-sm-table-cell">
                                @Html.DisplayFor(description => transaction.Description)
                            </div>
                            <div class="col-lg-2 col-3 text-right">
                                @Html.DisplayFor(amount => transaction.Amount)
                                <a href='@Url.Action("Delete", "Transactions", new { id = @transaction.TransactionId })'>
                                    <img src='@Url.Content("~/Content/Images/icons8-delete-50.png")' style="width: 12px; height: 10px" />
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}


