<link rel="stylesheet" href='../Content/datatables.css' type="text/css" />

@using FinanceManager.Models.Period
@model FinanceManager.ViewModels.Budget.BudgetViewViewModel
@{
    ViewBag.Title = "BudgetView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Budget</h2>

@foreach (var item in Model.Items)
{
    <div class="row">
        <div class="container col-sm-8">

            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="font-weight-bold">Period: </span> @Html.DisplayFor(periodName => item.Period.Name) 
                        </div>
                        <div class="col-sm-6 text-right">
                        <span class="font-weight-bold">Total:</span> @Html.DisplayFor(periodTotal => item.Total)
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @foreach (var budgetItem in item.Items)
                    {
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayFor(category => budgetItem.Category.Name)
                            </div>
                            <div class="col-sm-7">
                                @Html.DisplayFor(description => budgetItem.Description)
                            </div>
                            <div class="col-sm-2 text-right">
                                @Html.DisplayFor(amount => budgetItem.Amount)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="container col-sm-4"></div>
    </div>
}

